{% extends 'base.html' %}
{% block content %}
<h2>Schedule Equipment</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.equipment_id.label }} {{ form.equipment_id(class="form-control") }}</div>
    <div class="mb-3">{{ form.start_time.label }} {{ form.start_time(class="form-control") }}</div>
    <div class="mb-3">{{ form.end_time.label }} {{ form.end_time(class="form-control") }}</div>
    <div>{{ form.submit(class="btn btn-success") }}</div>
</form>
{% endblock %}